{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <title>My Genome Center</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/theme/css/flatly.css" rel="stylesheet">

	<link href="/static/vendor/ng-table/ng-table.css" rel="stylesheet">

    <!-- Custom styles for this template -->
   <!--  <link href="/static/theme/css/caes.css" rel="stylesheet"> -->
    <link href="/static/theme/css/animations.css" rel="stylesheet">
	<link href="/static/theme/css/gcportal.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
        <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/theme/js/bootstrap.min.js"></script>
    {{ form.media }}
    
        <!-- Angular
    ================================================== -->
	<script src="/static/vendor/angular/angular.js"></script>
	<script src="/static/vendor/angular/angular-resource.min.js"></script>
	<script src="/static/vendor/angular-cookies/angular-cookies.min.js"></script>
	<script src="/static/vendor/angular/angular-route.min.js"></script>
	<script src="/static/vendor/angular-bootstrap/ui-bootstrap.js"></script>
	<script src="/static/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="/static/vendor/angular-ui-router/angular-ui-router.js"></script>
	<script src="/static/vendor/angular-checklist/checklist-model.js"></script>
	<link href="/static/vendor/angular-growl/angular-growl.min.css" rel="stylesheet">
    <script src="/static/vendor/angular-growl/angular-growl.min.js"></script>
    <script src="/static/vendor/ng-table/ng-table.js"></script>
    <script src="/static/js/models.js"></script>
    <script src="/static/js/services.js"></script>
    <script src="/static/js/directives.js"></script>
    <!--<script src="{% static 'vendor/angular-remote-table/angular-remote-table.js'%}"></script>-->
        
    <script>
	    var app = angular.module('app', ['ui.bootstrap', 'ui.router','ngRoute', 'ngCookies', 'ngResource','angular-growl','checklist-model','portal.models','portal.services','portal.directives']);
	    app.config(['$httpProvider', function($httpProvider) {
		    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
		}]);
	    app.config(function($interpolateProvider) {
		  $interpolateProvider.startSymbol('{[');
		  $interpolateProvider.endSymbol(']}');
		});
	    app.config(['$resourceProvider', function($resourceProvider) {
		  // Don't strip trailing slashes from calculated URLs
		  $resourceProvider.defaults.stripTrailingSlashes = false;
		}]);
    </script>
    {% block 'headend' %}
    {% endblock %}
  </head>

  <body role="document" ng-app="app">
      <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{% url 'index' %}" class="navbar-brand">My Genome Center</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
          	{%if user.is_authenticated%}
               <li><a href="{% url 'home' %}">Home</a></li>
   	          <li><a href="{% url 'request_forms' %}">Request Forms</a></li>
   	          <li><a href="{% url 'software' %}">Software</a></li>
	            <li><a href="{% url 'machines' %}">Network Registration</a></li>
              	<li><a href="{% url 'policies' %}">Policies</a></li>
              		           {% if has_lab_permissions.approver or has_lab_permissions.admin%}
	           <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Lab <b class="caret"></b></a>
	             <ul class="dropdown-menu">
	                <li><a href="{% url 'pending_registrations' %}">Sponsorship requests</a></li>
	                <li><a href="{% url 'manage_labs' %}">Permissions</a></li>
	                <li><a href="{% url 'manage_unix_groups' %}">Unix groups</a></li>
	              </ul>
	            </li>
	            {% endif %}
				{%if user.is_superuser%}
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
	              <ul class="dropdown-menu">
	              <li><a href="{% url 'manage_users' %}">Manage Users</a></li>
	              	<li><a href="{% url 'create_lab' %}">Create Lab</a></li>
	              	<li><a href="{% url 'admin:index' %}">Django Admin</a></li>
	              </ul>
	            </li>	              	
			    {% endif %}
				<li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <b class="caret"></b></a>
	              <ul class="dropdown-menu">
	              	<li><a href="{% url 'profile' %}">Profile</a></li>
			        <li><a href="{% url 'logout' %}">Log out</a></li>
	              </ul>
	            </li>
	          {% endif %}
	          
	          {% if not user.is_authenticated %}
	          <li><a href="{% url 'login' %}">Log in</a></li>
	          {% endif %}
          </ul>
<!-- 
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
            <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
          </ul>
 -->
        </div>
      </div>
    </div>
    
    
    
    
    
	<div class="container content" >
	{% block content %}
	{% endblock %}
	</div>

  <div growl></div>
  </body>
</html>
