{% extends 'base.html' %}
{% block content %}
{% if approved %}
<h2>"{{user}}" has been emailed a password reset token.</h2>
{% else %}
<h2>Password reset request for user "{{user}}" denied.</h2>
{% endif %}
{% endblock %}