{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h2>Request new sponsor</h2>
{% if lab %}
	<h3>Your sponsorship request has been sent to "{{lab}}".  You will be notified if your sponsorship request is approved.</h3>
{% else %}
	<form method="POST" action=".">
	{% csrf_token %}
	{{form|crispy}}
	<button class="btn btn-default">Submit</button>
	</form>

{% endif %}
{% endblock %}