{% extends 'base.html' %}
{% block content %}
{% if approved %}
<h2>Sponsorship has been confirmed for "{{user}}" by lab "{{lab}}"</h2>
{% else %}
<h2>Sponsorship has been denied for "{{user}}" by lab "{{lab}}"</h2>
{% endif %}
{% endblock %}