{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% for id, form in forms.items %}
<p><a href="{% url 'process_form' form_id=id%}">{{form.label}}</a></p>
{% endfor %}
{{form|crispy}}
{% endblock %}