{% extends 'base.html' %}
{% block content %}

{% if request.user.first_name %}
<h2>Welcome to the Bioinformatics Core Portal, {{request.user.first_name}}!</h2>
{% endif %}
{% if not request.user.email or not request.user.first_name or not request.user.last_name %}
<h3><span class="glyphicon glyphicon-warning-sign error"></span> It seems you have an incomplete profile.  Please take a minute to <a href="{% url 'profile' %}">complete your profile</a> so that we can contact you when needed.</h3>
{% endif %}
{% if policies %}
<h3><span class="glyphicon glyphicon-warning-sign error"></span> There are policies that require your attention.  Please <a href="{% url 'policies' %}">visit the policies page</a> to review and accept the required policies.</h3>
{% endif %}
{% if registrations %}
<h3><span class="glyphicon glyphicon-warning-sign error"></span> There {% if registrations.count == 1 %}is an account request{% else %}are {{registrations.count}} account requests{% endif %} for your lab pending approval.  Please <a href="{% url 'pending_registrations' %}">approve or deny</a> the pending account request{% if registrations.count > 1 %}s{%endif%}.</h3>
{% endif %}
{% endblock %}