{% extends 'base.html' %}
{% block content %}
<p>
Welcome to the UC Davis Genome Center portal.  Here you can manage some of your Genome Center compute resources.  Using the portal you can:
<ul>
<li>Register mac addresses for network access.</li>
<li>Approve requests for an account to be added to your lab.</li>
<li>Review and accept policies for accessing the Genome Center network and servers.</li>
<li>View a list of software packages available on the Genome Center compute clusters.</li>
<li>Request a new account.</li>
</ul>  
</p>
 
<p>
If you are joining the Genome Center or have recently become part of one of the associated groups, you probably want to
<a href="{% url 'register'%}">request an account.</a>
</p>
<p>
Forgotten your password? <a href="{% url 'request_new_password'%}">Request a new password.</a>
</p>
<p>
If you've lost your sponsor and your account has been locked, you may <a href="{% url 'request_sponsor'%}">request a new sponsor.</a>
</p>
<p>
If you have no idea where you are, or how you got here, you may be lost.
</p>
{% endblock %}