{% extends 'base.html' %}
{% block content %}

{% if message %}
<div class="alert alert-success" role="alert">{{message}}</div>
{%endif%}

<h2>Network Registration</h2>
<p><a href="{% url 'register_machine' %}">Register</a> a new mac address.</p>
{% if not machines %}
<p>You do not have any registered machines.</p>
{% else %}
<table class="table">
<tr><th>Created</th><th>Type</th><th>Mac</th><th>Description</th><th>Removed</th><th>Action</th></tr>
{% for m in machines %}
<tr>
	<td>{{m.created}}</td>
	<td>{{m.get_type_display}}</td>
	<td>
		{{m.mac_address}}
		{%if m.mac_address_2%}<br>{{m.mac_address_2}}{%endif%}
		{%if m.mac_address_3%}<br>{{m.mac_address_3}}{%endif%}
		{%if m.mac_address_4%}<br>{{m.mac_address_4}}{%endif%}
	</td>
	<td>{{m.description}}</td>
	<td>{% if m.retired %}{{m.retired}}{% else %}N/A{% endif %}</td>
	<td>
	{% if m.entered %}
		{% if not m.retired %}
		<a onClick="return confirm('Are you sure you want to retire this machine from the network?')" class="btn btn-sm btn-warning" href="{% url 'retire_machine' pk=m.pk %}">Retire</a>	
		{% endif %}
	{% else %}
	<a onClick="return confirm('Are you sure you want to delete this machine?')" class="btn btn-sm btn-danger" href="{% url 'delete_machine' pk=m.pk %}">Delete</a>
	{% endif %}
	</td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}