{% extends 'base.html' %}
{% block content %}

{% if message %}
<div class="alert alert-success" role="alert">{{message}}</div>
{%endif%}

<h2>Machine</h2>
<table class="table">
<tr><th>User</th><td>{{machine.user}}</td></tr>
<tr><th>Created</th><td>{{machine.created}}</td></tr>
<tr><th>Type</th><td>{{machine.get_type_display}}</td></tr>
<tr><th>Mac</th>
	<td>
	{{machine.mac_address}}
	{%if machine.mac_address_2%}<br>{{machine.mac_address_2}}{%endif%}
	{%if machine.mac_address_3%}<br>{{machine.mac_address_3}}{%endif%}
	{%if machine.mac_address_4%}<br>{{machine.mac_address_4}}{%endif%}
	</td>
</tr>
<tr><th>Description</th><td>{{machine.description}}</td></tr>
{% if machine.retired %}
<tr><th>Removed</th><td>{{machine.retired}}</td></tr>
{% endif %}
{% if machine.entered %}
<tr><th>Entered</th><td>{{machine.entered}}</td></tr>
<tr><th>Entered by</th><td>{{machine.entered_by}}</td></tr>
{% endif %}
</table>

{% if not machine.entered %}
	<a  class="btn btn-sm btn-success" href="{% url 'confirm_machine' pk=machine.pk %}">Confirm</a>	
{% endif %}

{% endblock %}