{% extends 'base.html' %}
{% block 'headend' %}
<script>
angular.module('app')
.controller('LabController', ['$scope','$http','growl','Lab','User','DRFNgTableParams',LabController])

function LabController($scope,$http,growl,Lab,User,DRFNgTableParams) {
	$scope.labs = Lab.query({has_permissions:['admin']}).$promise.then(function(labs){
		$scope.labs = labs;
		if (labs.length == 1){
			$scope.selected_lab = labs[0];
			$scope.modifyLab();
		}
			
	});
	$scope.modifyLab = function(){
		console.log($scope.selected_lab);
		$scope.lab = new Lab($scope.selected_lab);
		$scope.lab.$get_permissions();
		$scope.sponsoring = User.query({profile__sponsor__id:$scope.lab.id});
	};
	$scope.revokeSponsorship = function(user,lab){
		if (!confirm("Are you sure you want to revoke sponsorship by the lab" +lab.name+" for the user "+user.first_name+" "+user.last_name+"? Their account may be locked."))
			return;
		user.$revoke_sponsorship({lab_id:lab.id},function(){
			$scope.sponsoring.splice($scope.sponsoring.indexOf(user),1);
			growl.success('Sponsorship revoked',{ttl: 5000});
		});
	};
	$scope.init = function(kwargs){
		$scope.permissions = kwargs.permissions;
		$scope.content_type = kwargs.content_type;
	};
	$scope.savePermissions = function(){
		$scope.disable_button = true;
		$scope.lab.$set_permissions(
			function(){
				$scope.disable_button = false;
				growl.success("User permissions have been updated",{ttl: 5000});
			},
			function(){
				$scope.disable_button = false;
				growl.error("User permissions update has failed",{ttl: 5000});
			}
		);
	};
	$scope.getUsers = function(search){
		return User.query({search:search}).$promise;
	}
	$scope.addUser = function($item,$model,permission){
		for (var i in $scope.lab.permissions[permission]){
			if ($scope.lab.permissions[permission][i].id == $item.id){
				growl.warning("User already has this permission",{ttl: 5000});
				return;
			}
		}
		Lab.add_permission({permission:permission,user_id:$item.id,id:$scope.lab.id},function(){
			$scope.lab.permissions[permission].push($item);	
			growl.success("User permission added.",{ttl: 5000});
		},function(){
			growl.error("Error adding user permission.",{ttl: 5000});
		})
	}
	$scope.removePermission = function(user,permission,index){
		Lab.remove_permission({permission:permission,user_id:user.id,id:$scope.lab.id},function(){
			$scope.lab.permissions[permission].splice(index,1);
			growl.success("User permission removed.",{ttl: 5000});
		},function(){
			growl.error("Error removing user permission.",{ttl: 5000});
		})
	}
}

</script>
{% endblock %}

{% block content %}
<div ng-controller="LabController" ng-init='init({ permissions: {{permissions|safe}}, content_type:{{content_type.id}} })'>
	<div class="row" ng-show="labs.length > 1">
	<div class="col-md-2"><label>Select lab:</label></div>
	<div class="col-md-4"> 
		<select ng-model="selected_lab" ng-change="modifyLab()" ng-options="lab as lab.name for lab in labs track by lab.id" class="form-control"></select>
	 </div>
	 </div>
	<div ng-if="lab">
	<h2>{[lab.name]}</h2>
	<div ng-show="sponsoring.length">
			<h3>Sponsored users</h3>
			<table class="table m-t-3" style="margin-top:20px;">
				<tr><th>User</th><th>Email</th><th>Username</th><th></th></tr>
				<tr ng-repeat="u in sponsoring">
					<td>{[u.first_name]} {[u.last_name]}</td>
					<td>{[u.email]}</td>
					<td>{[u.username]}</td>
					<td><button class="btn btn-danger btn-xs" title="Revoke the user's account sponsorship for this lab" ng-click="revokeSponsorship(u,lab)">Revoke</button></td>
				</tr>
			</table>
	</div>
	<h3 ng-show="!sponsoring.length">This lab is not currently sponsoring any user accounts.</h3>
	<h2>User permissions</h2>
	    <div ng-repeat="(permission, users) in lab.permissions">
	    	<h2>{[permission | uppercase]}: {[permissions[permission]]}</h2>
	    	<div class="row">
				<div class="col-md-2"><label>Add a user:</label></div>
				<div class="col-md-4">
				    <input type="text" ng-model="newUser" placeholder="Search users"  
				    	uib-typeahead="user as user.first_name + ' ' + user.last_name + ', '+user.email+', '+user.username for user in getUsers($viewValue)" 
				    	typeahead-loading="loadingUsers" typeahead-no-results="noResults" class="form-control" typeahead-on-select="addUser($item,$model,permission);newUser = '';">
				    <i ng-show="loadingUsers" class="glyphicon glyphicon-refresh"></i>
				    <div ng-show="noResults">
				      <i class="glyphicon glyphicon-remove"></i> No Results Found
				    </div>
			    </div>
		    </div>
	    	<div ng-if="users.length > 0">
			<table class="table m-t-3" style="margin-top:20px;">
			<tr><th>User</th><th>Email</th><th>Username</th><th></th></tr>
			<tr ng-repeat="user in users">
				<td>{[user.first_name]} {[user.last_name]}</td>
				<td>{[user.email]}</td>
				<td>{[user.username]}</td>
				<td><button ng-click="removePermission(user,permission,$index)" class="btn btn-danger btn-xs">Remove</button></td>
			</tr>
			</table>
			<!-- <button ng-click="savePermissions()" class="btn btn-primary"  ng-disabled="disable_button">Save</button> -->
			</div>
			<h3 ng-hide="users.length">There are no users with this permission</h3>		
		</div>
	<h2>Logs</h2>
		<log-table content-type="content_type" object-id="selected_lab.id"></log-table>
	</div>
</div>
{% endblock %}