{% extends 'base.html' %}
{% block 'headend' %}
<script>
angular.module('app')
.controller('UnixGroupController', ['$scope','$http','growl','Lab','UnixGroup','User',UnixGroupController])

function UnixGroupController($scope,$http,growl,Lab,UnixGroup,User) {
	$scope.labs = Lab.query({has_permissions:['admin']}).$promise.then(function(labs){
		$scope.labs = labs;
		if (labs.length == 1){
			$scope.selected_lab = labs[0];
			$scope.manageGroups();
		}
			
	});
	$scope.manageGroups = function(){
		$scope.lab = new Lab($scope.selected_lab);
		$scope.groups = UnixGroup.query({lab__id:$scope.lab.id});
	};
	$scope.init = function(){
	};
}

</script>
{% endblock %}

{% block content %}
<div ng-controller="UnixGroupController" ng-init="init()">
	<div class="row" ng-show="labs.length > 1">
	<div class="col-md-2"><label>Select lab:</label></div>
	<div class="col-md-4"> 
		<select ng-model="selected_lab" ng-change="manageGroups()" ng-options="lab as lab.name for lab in labs track by lab.id" class="form-control"></select>
	 </div>
	 </div>
	<div ng-if="lab">
	<h2>{[lab.name]} Groups</h2>
	    <div ng-repeat="group in groups">
	    	<h2>{[group.name]}</h2>
	    	<!-- <div class="row">
				<div class="col-md-2"><label>Add a user:</label></div>
				<div class="col-md-4">
				    <input type="text" ng-model="newUser" placeholder="Search users"  
				    	uib-typeahead="user as user.first_name + ' ' + user.last_name + ', '+user.email+', '+user.username for user in getUsers($viewValue)" 
				    	typeahead-loading="loadingUsers" typeahead-no-results="noResults" class="form-control" typeahead-on-select="addUser($item,$model,permission);newUser = '';">
				    <i ng-show="loadingUsers" class="glyphicon glyphicon-refresh"></i>
				    <div ng-show="noResults">
				      <i class="glyphicon glyphicon-remove"></i> No Results Found
				    </div>
			    </div>
		    </div>
		     -->
	    	<div ng-if="group.users.length > 0">
			<table class="table m-t-3" style="margin-top:20px;">
			<tr><th>User</th><th>Email</th><th>Username</th></tr>
			<tr ng-repeat="user in group.users">
				<td>{[user.first_name]} {[user.last_name]}</td>
				<td>{[user.email]}</td>
				<td>{[user.username]}</td>
			</tr>
			</table>
			</div>
			<h3 ng-hide="group.users.length">There are no users in this group</h3>		
		</div>
		<h3 ng-if="!groups.length">This lab has no unix groups</h3>
	</div>
</div>
{% endblock %}