{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load markdown_tags %}
{% block content %}
<form method="POST" action=".{% if next %}?next={{next}}{% endif %}">
 <h2>{{policy.title}}</h2>
 <p>{{policy.text|markup}}</p>
 {% csrf_token %}
 {{form|crispy}}
 {% if next %}<input type="hidden" name="next" value="{{next}}"/>{% endif %}
<button class="btn btn-primary">Submit</button>
</form>
{% endblock %}