{% extends 'base.html' %}
{% load markdown_tags %}
{% block content %}
<p><b>Policy accepted on {{accepted.accepted}}</b></p>
<h2>{{accepted.policy.title}}</h2>
<p>{{accepted.text|markup}}</p>
{% endblock %}