{% extends 'base.html' %}
{% block content %}
<h2>Policies</h2>
{% if not policies %}
<h3>There are no policies needing your attention at this time.</h3>
{% else %}
<h3 class="error"><span class="glyphicon glyphicon-warning-sign"></span> The following policies require your approval.</h3>
<table class="table">
<tr><th>Created</th><th>Title</th><th></th></tr>
{% for p in policies %}
<tr>
	<td>{{p.created}}</td>
	<td>{{p.title}}</td>
	<td><a class="btn btn-primary btn-sm" href="{% url 'policy' pk=p.pk %}">View</a></td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if accepted %}
<h3>Previously accepted policies</h3>
<table class="table">
<tr><th>Created</th><th>Title</th><th>Accepted</th><th></th></tr>
{% for a in accepted %}
<tr>
	<td>{{a.policy.created}}</td>
	<td>{{a.policy.title}}</td>
	<td>{{a.accepted}}</td>
	<td><a class="btn btn-primary btn-sm" href="{% url 'policy' pk=a.policy.pk %}">View</a></td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}