{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h2>{{form.label}}</h2>
{% if form %}
	<form method="POST" action=".">
	{% csrf_token %}
	{% crispy form %}
	<button class="btn btn-default">Submit</button>
	</form>
{% elif message %}
<h3>{{message}}</h3>
{% endif %}
{% endblock %}