{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% if message %}
<div class="alert alert-success" role="alert">{{message}}</div>
{%endif%}

<h2>Profile</h2>
<form method="POST" action=".">
 {% csrf_token %}
 {{form|crispy}}
<button class="btn btn-primary">Submit</button>
</form>

<h3>Email</h3>
{% if not request.user.email %}
<p class="error">An email address is required.  <a class="btn btn-primary" href="{% url 'change_email' %}">Set Email</a></p>
{% else %}
<p>Your email is currently "{{request.user.email}}".  <a class="btn btn-primary" href="{% url 'change_email' %}">Change</a></p>
{% endif %}

<h3>Sponsor</h3>
{% if user.profile.sponsor %}
<p>You are currently sponsored by {{user.profile.sponsor}}.</p>
{% else %}
<p>Your account is not currently sponsored.</p>
{% endif %}
{% if principal %}
{% with principal=principal.serialize%}
<h3>Account details</h3>
<table>
<tr><th>Expiration date</th><td>{{principal.expire}}</td></tr>
<tr><th>Last password change</th><td>{{principal.last_pwd_change}}</td></tr>
<tr><th>Password expiration date</th><td>{{principal.pwexpire}}</td></tr>
</table>
{% endwith %}
{% endif %}
{% endblock %}