{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Register machine</h2>
<form method="POST" action=".">
 {% csrf_token %}
 {{form|crispy}}
<button class="btn btn-primary">Submit</button>
</form>
{% endblock %}