{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Software</h2>
<p><a href="{% url 'process_form' form_id='SoftwareForm'%}">Request</a> new software to be installed on the cluster.</p>
<h2>Systems administration</h2>
<p><a href="{% url 'process_form' form_id='TicketForm'%}">Submit a ticket</a> for systems related help.</p>
{{form|crispy}}
{% endblock %}