{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load content_type_tags %}
{% block content %}

{% if form %}
<h2>{{form.name}}</h2>
<form method="POST" action=".">
 {% csrf_token %}
 {{form|crispy}}
<button class="btn btn-primary">Submit</button>
</form>
{% endif %}
<h2>User</h2>
<table class="table table-striped table-condensed">
	<tr><th>First</th><td>{{u.first_name}}</td></tr>
	<tr><th>Last</th><td>{{u.last_name}}</td></tr>
	<tr><th>Username</th><td>{{u.username}}</td></tr>
	<tr><th>Email</th><td>{{u.email}}</td></tr>
	<tr><th>Sponsor</th><td>{{u.profile.sponsor}}</td></tr>
</table>
<h2>
Kerberos
{% if u.principal.is_active%}
	<span class="green">Active</span>
{% else %}
	<span class="red">Inactive</span>
{% endif %}
{% if u.principal.password_expired %}
 	<span class="red">Password Expired</span>
{% endif %}
</h2>

{% with princ=u.principal.serialize%}
<a class="btn btn-default"href="{% url 'modify_principal' username=u.username%}">Modify</a>
<table class="table table-striped table-condensed">
{% for key,val in princ.iteritems %}
	<tr><th>{{key}}</th><td>{{val}}</td></tr>
{% endfor %}
</table>
{% endwith %}

<h2>Logs</h2>
<log-table content-type="{{u|content_type_id}}" object-id="{{u.id}}"></log-table>

{% endblock %}