{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h2>Create Lab</h2>
{% if form %}
	<form method="POST" action=".">
	{% csrf_token %}
	{{ form|crispy }}
	<button class="btn btn-default">Submit</button>
	</form>
{% elif lab %}
	<h3>{{lab}} has been created</h3>
	{% if pi %}
		<p>{{pi}} has been granted all the privileges for the lab.</p>
	{% elif email %}
		<p>An invitation has been sent to {{email}} to create a computing account.
	{% endif %}
{% endif %}
{% endblock %}