{% extends 'base.html' %}
{% block content %}

{% if search %}
<h3>Currently searching for ""{{search}}".  <a href="?per_page={{paginator.per_page}}">Clear</a> search.</h3>
{% endif %}
<form action="." method="GET">
<div class="input-group">
	  <input type="hidden" name="per_page" value="{{paginator.per_page}}"/>
      <input type="text" class="form-control" name="search" placeholder="Search...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Search</button>
      </span>
</div><!-- /input-group -->
</form>
{% if paginator.count == 0 %}
<h3>Your search did not return any users</h3>
{% else %}
<table class="table table-striped table-condensed">
<thead><tr><th>Username</th><th>First</th><th>Last</th><th>Email</th><th>Sponsor</th><th>Principal</th><th class="pull-right">Action</th></tr></thead>
<tbody>
{% for u in page.object_list %}
<tr>
	<td>{{u.username}}</td>
	<td>{{u.first_name}}</td>
	<td>{{u.last_name}}</td>
	<td>{{u.email}}</td>
	<td {%if not u.profile.sponsor %}class="red"{% endif %}>{{u.profile.sponsor}}</td>
	<td>
		{% if u.principal %}
			{% if u.principal.is_active%}
				<span class="green">Active</span>
			{% else %}
				<span class="red">Inactive</span>
			{% endif %}
			{% if u.principal.password_expired %}
			 	<span class="red">Password Expired</span>
			{% endif %}
		{% endif %}
	</td>
	<td class="pull-right">
		<a href="{% url 'user_details' username=u.username %}" class="btn btn-sm btn-primary">Details</a>
	</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if paginator.num_pages > 1%}
<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if page.has_previous %}
    <li>
      <a href="?page={{page.previous_page_number}}&per_page={{paginator.per_page}}&search={{search}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for number in paginator.page_range %}
    <li {% if number == page.number %}class="active"{% endif %}><a href="?page={{number}}&per_page={{paginator.per_page}}&search={{search}}">{{number}}</a></li>
    {% endfor %}
    {% if page.has_next %}
    <li>
      <a href="?page={{page.next_page_number}}&per_page={{paginator.per_page}}&search={{search}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}