.content{
	margin-top: 100px;
}
.error{
	color:red;
}
.green{
	color:green;
}
.red{
	color:red;
}
input[type=checkbox]{
	margin: 4px;
}
a:hover{
	cursor: pointer;
}
.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }

h1, .h1 {
    font-size: 32px;
}
h2, .h2 {
    font-size: 24px;
}
h3, .h3 {
    font-size: 18px;
}
h4, .h4 {
    font-size: 14px;
}
/*
.main-navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   margin: 0px;
}
.navbar .icon-bar{
	background: white;
}
.main-navbar li { color: #000 }
.main-navbar li a{
	color: #FFF;
	font-weight: bold;
}

.main-navbar > li > a:hover, .main-navbar > li > a:focus {
    color: #ccc;
    background: transparent;
}
.main-navbar .open>a, .main-navbar .open>a:hover, .main-navbar .open>a:focus,.main-navbar .dropdown-menu,.main-navbar .dropdown-menu>li>a:hover,.main-navbar .dropdown-menu>li>a:focus {
    background: transparent;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	color: #ccc;	
}
*/
.jumbotron {
	background-image: none;
}
.jumbotron .container {
  padding-top: 0px; 
}

