{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Account completed</h2>
<p>
Your account details have been completed.  We still need to validate your email address, so please check your email, "{{registration.email}}", for a confirmation link.  
</p> 
{% endblock %}