{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if registration.approved %}
<h2>Registration approved</h2>
<table class="table">
<tr><th>Name:</th><td>{{registration.first_name}} {{registration.last_name}}</td></tr>
<tr><th>Email:</th><td>{{registration.email}}</td></tr>
<tr><th>Username:</th><td>{{registration.username}}</td></tr>
<tr><th>Sponsor:</th><td>{{registration.sponsor}}</td></tr>
<tr><th>Category:</th><td>{{registration.get_category_display}}</td></tr>
<tr><th>UCD:</th><td>{{registration.ucd}}</td></tr>
<tr><th>Approved by:</th><td>{{registration.approved_by}}</td></tr>
<tr><th>Approved:</th><td>{{registration.approved}}</td></tr>
<tr><th>Approval message:</th><td>{{registration.approval_message}}</td></tr>
</table>
{% else %}
<table class="table">
<tr><th>Name:</th><td>{{registration.first_name}} {{registration.last_name}}</td></tr>
<tr><th>Email:</th><td>{{registration.email}}</td></tr>
<tr><th>Username:</th><td>{{registration.username}}</td></tr>
<tr><th>Sponsor:</th><td>{{registration.sponsor}}</td></tr>
<tr><th>Category:</th><td>{{registration.get_category_display}}</td></tr>
<tr><th>UCD:</th><td>{{registration.ucd}}</td></tr>
</table>
<form method="POST" action=".">
{% csrf_token %} 
  <div class="form-group">
    <label for="approval_message">Approval Message (optional)</label>
    <textarea  class="form-control" id="approval_message" name="approval_message"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Approve</button>
</form>
{% endif %}
{% endblock %}