{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Registration cancelled</h2>
<p>The registration process for the email address "{{registration.email}}" has been cancelled.</p>
{% endblock %}