{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h2>Change email</h2>
{% if new_email %}
	<h3>You have been emailed at "{{new_email}}".  Please click on the confirmation link in the email to complete the process.</h3>
{% else %}
	
	Your email is currently "{{request.user.email}}".
	<form method="POST" action=".">
	 {% csrf_token %}
	 {{form|crispy}}
	<button class="btn btn-primary">Submit</button>
	</form>
{% endif %}
{% endblock %}