{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load markdown_tags %}
{% block content %}
<h2>Complete account information</h2>
<p>
Please complete your account details.
</p>
<form method="POST" action=".">
 {% csrf_token %}
 {{form|crispy}}
{% if policies %}
<h3>Policies</h3>
 <div style="max-height:400px;overflow-y:scroll">
 	{% for policy in policies %}
 		<h1>{{policy.title}}</h1>
 		<p>{{policy.text|markup}}</p>
 	{% endfor %}
 </div>
 {{policy_form|crispy}}
 {% endif %}
<button class="btn btn-primary">Submit</button>
</form>
{% endblock %}