{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Registration confirmed</h2>
<p>Thank you for confirming your registration.  Your sponsor, {{registration.sponsor}}, has been notified, and must now approve your request.  You will receive an email confirming your account once it has been done.</p>
{% endblock %}