{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Registration denied</h2>
{% if registration %}
<table class="table">
<tr><th>Name:</th><td>{{registration.first_name}} {{registration.last_name}}</td></tr>
<tr><th>Email:</th><td>{{registration.email}}</td></tr>
<tr><th>Username:</th><td>{{registration.username}}</td></tr>
<tr><th>Sponsor:</th><td>{{registration.sponsor}}</td></tr>
</table>
{% else %}
<p>The registration had already been removed from the database and details are no longer available.</p>
{% endif %}
{% endblock %}