{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Login</h2>
<form method="POST" action=".">
{% csrf_token %}
{{form|crispy}}
{% if next %}<input type="hidden" name="next" value="{{next}}"/>{% endif %}
<button class="btn btn-primary">Submit</button>
</form>
{% endblock %}