{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Sponsorship requests</h2>
{% if not registrations %}
<p>There are no sponsorship requests at this time.</p>
{% else %}
<table class="table">
<tr><th>Created</th><th>Name</th><th>Email</th><th>Username</th><th>Sponsor</th><th>Category</th><th>UCD</th><th>Actions</th></tr>
{% for r in registrations %}
<tr>
	<td>{{r.created}}</td>
	<td>{{r.first_name}} {{r.last_name}}</td>
	<td>{{r.email}}</td>
	<td>{{r.username}}</td>
	<td>{{r.sponsor}}</td>
	<td>{{r.get_category_display}}</td>
	<td>{{r.ucd}}</td>
	<td><a href="{% url 'approve_registration' uuid=r.approval_key %}" class="btn btn-success btn-xs">Approve</a> <a onClick="return confirm('Are you sure you want to permanently delete this registration request?');" href="{% url 'deny_registration' uuid=r.approval_key %}" class="btn btn-danger btn-xs">Deny</a></td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}