{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load markdown_tags %}
{% block content %}
<h2>Register</h2>
<p>
Welcome to the portal registration page.  If someone at the Genome Center directed you to register for a computing account, you've come to the right place.
When registering, be sure to select the lab or group you are joining.  Someone from that group will need to confirm your request.  Still wondering what the Genome Center Portal is?  Visit the <a href="{% url 'index' %}">home page</a>.
</p>
<form method="POST" action=".">
 {% csrf_token %}
 {{form|crispy}}
{% if policies %}
<h3>Policies</h3>
 <div style="max-height:400px;overflow-y:scroll">
 	{% for policy in policies %}
 		<h1>{{policy.title}}</h1>
 		<p>{{policy.text|markup}}</p>
 	{% endfor %}
 </div>
 {{policy_form|crispy}}
 {% endif %}
<button class="btn btn-primary">Submit</button>
</form>
{% endblock %}