{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Reset password</h2>
<p>Please abide by the following NIH guidelines when creating your password:</p>
<ul>
<li>Minimum length of 12 characters</li>
<li>Does not contain user names, real names or company names</li>
<li>Does not contain a complete dictionary word</li>
<li>Contains characters from each of the following groups: lowercase letters, uppercase letters, numerals, and special characters</li>
<li>Passwords should expire every 120 days or at the rate required by institutional policies, whichever is more frequent.</li>
</ul>
<form action="." method="POST">
{% csrf_token %}
{{form|crispy}}
<button class="btn btn-default">Submit</button>
</form>
{% endblock %}