{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load markdown_tags %}
{% block content %}
{% if form %}
<h2>Register</h2>
<h3>
You have been sponsored by the "{{sponsor}}" lab for Genome Center account creation.  Please fill out your account details below.
</h3>
<form method="POST" action=".">
 {% csrf_token %}
 {{form|crispy}}
{% if policies %}
<h3>Policies</h3>
 <div style="max-height:400px;overflow-y:scroll">
 	{% for policy in policies %}
 		<h1>{{policy.title}}</h1>
 		<p>{{policy.text|markup}}</p>
 	{% endfor %}
 </div>
 {{policy_form|crispy}}
 {% endif %}
<button class="btn btn-primary">Submit</button>
</form>
{% else %}
<p>
Registration is complete, and you have been added to the "{{registration.sponsor}}" lab.  Please check your email ({{registration.email}}) for instructions on setting your password.
</p> 
{% endif %}
{% endblock %}