{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Registration submitted</h2>
<p>
Your registration request has been submitted, and an email has been sent to "{{registration.email}}".  
Please click on the confirmation link provided in the email in the next 24 hours or your registration will be cancelled.
Once you have clicked the confirmation link, your sponsor, "{{registration.sponsor}}", will need to approve your submission.
</p> 
{% endblock %}